<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="District Automation Suite">


    <listeners>
        <listener class-name="utils.ExtentListener"/>
    </listeners>


    <test name="District Tests">
        <classes>
            <class name="tests.SportsTest"/>
            <class name="tests.MoviesTest"/>
            <class name="runners.CucumberRunner"/>
        </classes>
    </test>

</suite>
